<div class="container__big-card">
    <div class="img__big-card">
        <img 
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMTSb7pHBqsDEZgLKLvfWh-FSuBRn1chuUgA&usqp=CAU"
            alt="Placeholder Image"
            >
    </div>
    <div class="title__big-card">
        <h2>
            Lorem Ipsum Etc
        </h2>
    </div>
    <div class="description__big-card">
        <p>
            Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.Atirei o pau no gatis, per gatis num morreus.Quem manda na minha terra sou euzis!Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.
        </p>
    </div>
</div>